@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);

    --light-grey: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

/* !General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: var(--light-grey);
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 0 30px;
    
}

.community {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.head {
    background-color: #fff;
    padding: 35px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col {
    padding: 35px;
    color: var(--light-grey);

}

h3 {
    font-weight: 700;
    color: var(--light-grey);
}


/* !Specify */
.head h1 {
    font-weight: 700;
    font-size: 26px;
    color: var(--cyan);
}

.head h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--bright-yellow);
    margin: 25px 0 10px;
}

.head p {
    font-weight: 400;
    font-size: 16px;
    color: var(--grayish-blue);
    line-height: 25px;
}

/* ?col-1 */

.col-1 {
    background-color: var(--cyan);
    border-bottom-left-radius: 10px;

}

.col-1 .price {
    font-weight: 700;
    font-size: 30px;
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.col-1 .price small {
    font-size: 14px;
    opacity: 0.5;
    margin-left: 5px;
}

.col-1 .sign-up {
    width: 100%;
    padding: 13px;
    margin-top: 25px;
    background-color: var(--bright-yellow);
    color: var(--light-grey);
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* ?col-2 */

.col-2 {
    background-color: var(--cyan);
    opacity: 0.8;
    border-bottom-right-radius: 10px;
}

.col-2 p {
    margin-top: 15px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 400;
    
}

@media (max-width: 600px) {

    .row {
        grid-template-columns: 1fr;
    }

    .col-1 {
        border-radius: 0;
    }

    .col-2 {
        border-bottom-left-radius: 10px;
    }
}